.mymove {
  -webkit-animation: movebg 5s infinite;
  /* Safari 4+ */
  -moz-animation: movebg 5s infinite;
  /* Fx 5+ */
  -o-animation: movebg 5s infinite;
  /* Opera 12+ */
  animation: movebg 5s infinite;
  /* IE 10+, Fx 29+ */
}
