                @import 'variables';
                @import 'mixins';
                // content editor
                .editor-box {
                    font-size: 16px;
                    color: $body-color;
                    line-height: 28px;
                    font-weight: $regular;
                    width: $full-width;
                    display: inline-block;
                    padding-bottom:30px;
                    & .featured-image {
                        img {
                            margin-top: 0;
                        }
                    }
                    & table a {
                        text-decoration: none;
                    }
                    img {
                        &.pull-img-left {
                            max-width: 824px !important;
                            margin-top: 30px !important;
                            margin-bottom: 10px !important;
                            margin-left: -200px !important;
                            height: auto;
                        }
                        // image only alignments
                        &.left {
                            float: left;
                            margin-right: 30px;
                            margin-top: 15px;
                        }
                        &.right {
                            float: right;
                            margin-left: 30px;
                            margin-top: 15px;
                        }
                        &.center {
                            margin: 30px auto;
                            text-align: center;
                            display: block;
                        }
                        &.none {
                            @extend .center;
                        }
                    }

                    .drop-cap {
                        font-size:68px;
                        line-height:70px;
                        font-weight:$bold;
                        color:$red-bg;
                        margin-right:15px;
                        margin-bottom:0;
                        float:left;
                        font-family:$primary-font;
                    }
                    figure {
                        &.image {
                            img {
                                margin: 0;
                                &.pull-img-left {
                                    margin-bottom: 0 !important;
                                }
                            }
                            &.align-left {
                                //max-width: $half-width;
                                float: left;
                                margin: 0 30px 10px 0;
                            }
                            &.align-right {
                                // max-width: $half-width;
                                float: right;
                                margin: 0 0 10px 30px;
                            }
                            &.align-center {
                                text-align: center;
                                // max-width: 75%;
                                display: table;
                                margin: 30px auto;
                            }
                        }
                    }
                    ul {
                        margin: 15px 0 0 20px;
                        li {
                            padding-left: 10px;
                            line-height: 30px;
                            margin-bottom: 10px;
                        }
                    }
                    ol {
                        margin: 30px 0 30px 30px;
                        li {
                            padding-left: 10px;
                            line-height: 30px;
                            margin-bottom: 10px;
                            list-style: decimal;
                        }
                    }
                    a {
                        color: $white-bg;
                        text-decoration:underline;
                    }
                    a:hover {
                        text-decoration: none;
                    }
                    em,
                    i {
                        font-style: italic;
                    }
                    strong,
                    b {
                        font-weight: $bold;
                    }
                    h1 {
                        color: $dark-gray;
                        font-weight: $bold;
                        margin: 10px 0;
                        font-size: 36px;
                        line-height: 46px;
                        font-family:$secondary-font;
                    }
                    h2 {
                        color: $dark-gray;
                        font-weight: $bold;
                        margin: 10px 0;
                        font-size: 26px;
                        line-height: 30px;
                        font-family:$secondary-font;
                    }
                    h3 {
                        color: $dark-gray;
                        font-weight: $bold;
                        margin: 10px 0;
                        font-size: 24px;
                        line-height: 28px;
                        font-family:$secondary-font;
                    }
                    h4 {
                        color: $dark-gray;
                        font-weight: $bold;
                        margin: 10px 0;
                        font-size: 22px;
                        line-height: 24px;
                        font-family:$secondary-font;
                    }
                    h5 {
                        color: $dark-gray;
                        font-weight: $bold;
                        margin: 10px 0;
                        font-size: 16px;
                        line-height: 20px;
                        font-family:$secondary-font;
                    }
                    h6 {
                        color: $dark-gray;
                        font-weight: $bold;
                        margin: 10px 0;
                        font-size: 12px;
                        line-height: 16px;
                        font-family:$secondary-font;
                    }
                    blockquote {
                        color:$white-bg;
                        font-size:22px;
                        line-height: 36px;
                        font-weight: $bold;
                        position: relative;
                        padding:30px;
                        border:4px solid #666;
                        margin: 10px 30px 10px 0;
                        max-width: 290px;
                        background-size: 6%;
                        font-family:$secondary-font;
                        font-weight:$regular;
                        float: left;
                        position: relative;
             
                      
                       
                    }
                    // blockquote:before {
                    //     content: "";
                    //     background: $white-bg url(../images/quote-open.png) no-repeat center center;
                    //     background-size: 50%;
                    //     position: absolute;
                    //     top: -30px;
                    //     left: 30px;
                    //     z-index: 1;
                    //     width: 48px;
                    //     height: 48px;
                    //     text-align: center;
                    //     line-height: 38px;
                    //     color: #e0e3e3;
                    //     font-size: 60px;
                    //     font-family: FontAwesome;
                    //     font-style: normal;
                    //     font-weight: normal;
                    //     text-decoration: inherit;
                    // }

                    // blockquote:after {
                    //     content: "";
                    //     background: $white-bg url(../images/quote-close.png) no-repeat center center;
                    //     background-size: 50%;
                    //     position: absolute;
                    //     bottom: -30px;
                    //     right: 30px;
                    //     z-index: 1;
                    //     width: 48px;
                    //     height: 48px;
                    //     text-align: center;
                    //     line-height: 38px;
                    //     color: #e0e3e3;
                    //     font-size: 60px;
                    //     font-family: FontAwesome;
                    //     font-style: normal;
                    //     font-weight: normal;
                    //     text-decoration: inherit;
                    // }
                    img {
                        margin-bottom: 20px;
                        max-width: $full-width;
                    }
                    iframe {
                        max-width: $full-width;
                    }
                    p {
                        padding: 0 0 20px 0;
                    }
                    figcaption {
                        display: block;
                        border-bottom: 1px solid #ddd;
                        padding: 5px 0;
                        margin-bottom: 15px;
                        font-size: 12px;
                        line-height: 18px;
                        font-style: italic;
                        span {
                            float: right;
                        }
                    }
                    & .embed-responsive {
                        margin: 30px 0;
                    }
                    // image alignments
                    & .wp-caption {
                        img {
                            max-width: 100%;
                        }
                        max-width: 100%;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        &.alignleft {
                            float: left;
                            margin-right: 30px;
                            img {
                                margin: 0;
                            }
                        }
                        &.alignright {
                            float: right;
                            margin-left: 30px;
                            img {
                                margin: 0;
                            }
                        }
                        &.aligncenter {
                            margin: 30px auto;
                            text-align: center;
                            img {
                                margin: 0;
                            }
                        }
                        &.alignnone {
                            @extend .aligncenter;
                        }
                        & .wp-caption-text {
                            font-size: 12px;
                            font-weight: $semi-bold;
                            font-style: italic;
                            line-height: 18px;
                            display: block;
                            margin: 15px 0;
                        }
                    }
                    &.sitemap {
                        .navigation_box {
                            background: none;
                        }
                        .navbar-nav {
                            margin: 0;
                        }
                        .navbar-nav>li {
                            display: inline-block;
                            width: $full-width;
                            margin: 0;
                            padding-left: 0;
                        }
                        .navbar-nav>li>a {
                            color: #222;
                            text-decoration: none;
                        }
                        .navbar-nav>li>a:hover,
                        .navbar-nav>.open>a,
                        .navbar-nav>.open>a:hover {
                            color: #333 !important;
                            background: $white-bg !important;
                        }
                        .navbar-nav>li>.dropdown-menu {
                            display: block !important;
                            height: auto !important;
                            position: relative;
                            box-shadow: none;
                            border: 0;
                            margin: $no-margin !important;
                            width: 100%;
                            padding: $no-padding;
                        }
                        .navbar-nav>li>.dropdown-menu,
                        .dropdown-submenu>.dropdown-menu {
                            position: relative;
                            display: block;
                            left: 0;
                            border: 0;
                            box-shadow: none;
                            background: none !important;
                            width: 100%;
                            height: auto;
                            margin: $no-margin !important;
                        }
                        .dropdown-menu>li>a {
                            background: none !important;
                            color: #222;
                            padding-left: 0;
                            border: 0 !important;
                            text-decoration: none;
                        }
                        .dropdown-menu>li>a:hover {
                            text-decoration: underline;
                        }
                        .navbar-nav>li>.dropdown-menu li {
                            margin-left: 0;
                            padding-left: 30px;
                        }
                        .navbar-nav>li>.dropdown-menu li a {
                            color: #666;
                            font-weight: $regular;
                        }
                        .navbar-nav>li>.dropdown-menu li a:hover {
                            color: #333 !important;
                        }
                    }
                    // media
                    .media-left {
                        padding-right: 30px;
                        img {
                            max-width: none;
                            margin-top: 0;
                        }
                    }
                }
                
                // inner content
                .inner-content {
                    background: $white-bg;
                    padding-top: 20px;
                    margin-top: 21px;
                }
                
                .content-box {
                    padding-left: 15px;
                    padding-top: 10px;
                }
                
                .right-side-bar {
                    padding-right: 22px;
                    padding-top: 10px;
                }
                
                .left-side {
                    & .sifaris {
                        & .items {
                            &:nth-child(1) {
                                border-top: 0 !important;
                                margin-top: 0 !important;
                                padding-top: 0 !important;
                            }
                            &:nth-child(2) {
                                border-top: 1px solid #ddd !important;
                            }
                            & .main-title {
                                font-size: 16px;
                                font-weight: $semi-bold;
                                line-height: 26px;
                            }
                        }
                        h1 {
                            font-size: 20px;
                            color: #267163;
                            margin: 0 0 20px 0;
                            padding: 0 0 6px 0;
                            font-weight: 600;
                            line-height: 32px;
                            border-bottom: 1px solid #337ab7;
                        }
                    }
                }
                
                .detail-featured-box .editor-box img {
                    max-width: 100% !important;
                    width: 100%;
                }
                
                .left-side {
                    & .full-ad {
                        margin-top: 30px;
                        &:nth-child(3) {
                            margin-top: 60px;
                        }
                    }
                }