.mymove {
  -webkit-animation: movebg 5s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: movebg 5s infinite;
  /* IE 10+, Fx 29+ */
}

/* form inputes styling*/
.radio, .radio .checkbox {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.radio.first, .radio .first.checkbox {
  margin-left: 0;
}

.radio label, .radio .checkbox label {
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  padding-left: 25px;
}

.radio label .circle, .radio label .check {
  border: 1px solid rgba(0, 0, 0, 0.54);
  height: 15px;
  width: 15px;
  border-radius: 100%;
}

.radio label span, .radio .checkbox label span {
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.radio label .check {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #9c27b0;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}

.radio input[type=radio] {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  margin-top: 2px;
}

.radio input[type=radio]:checked ~ .check, .radio .checkbox input[type=radio]:checked ~ .check {
  background-color: #9c27b0;
}

.radio input[type=radio]:checked ~ .check, .radio .checkbox input[type=radio]:checked ~ .check {
  -webkit-transform: scale3d(0.65, 0.65, 1);
  transform: scale3d(0.65, 0.65, 1);
}

.radio label .check {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}

.radio label span, .radio .checkbox label span {
  display: block;
  position: absolute;
  left: 10px;
  top: 2px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

/* checkbox*/
.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}

.checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 1px;
  padding-right: 5px;
  display: inline-block;
}

.checkbox .checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
}

.checkbox .checkbox-material:before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.84);
  height: 20px;
  width: 20px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
  top: 0;
  -webkit-transform: scale3d(2.3, 2.3, 1);
  transform: scale3d(2.3, 2.3, 1);
}

.checkbox input[type=checkbox]:checked + .checkbox-material:before {
  -webkit-animation: rippleOn 500ms;
  animation: rippleOn 500ms;
}

.checkbox .checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.54);
  overflow: hidden;
  z-index: 1;
  border-radius: 3px;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
  background: #fff;
}

.checkbox .checkbox-material .check:before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  margin-top: -3px;
  margin-left: 7px;
  width: 0;
  height: 0;
  background: red;
  -webkit-box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
          box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
  -webkit-animation: checkbox-off 0.3s forwards;
  animation: checkbox-off 0.3s forwards;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
          box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.3s forwards;
  animation: checkbox-on 0.3s forwards;
}

@-webkit-keyframes checkbox-on {
  0% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@keyframes checkbox-on {
  0% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
            box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@-webkit-keyframes rippleOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rippleOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.checkbox label {
  padding-left: 10px;
}

.radio .media {
  overflow: visible;
}

.radio .radio-box {
  position: relative;
}

.radio .media-left {
  padding-right: 15px;
}

.radio .media-heading {
  position: relative;
  color: #fff;
  margin: 5px 0 0 0;
  left: 0;
  top: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

.radio .radio-box {
  width: 40px;
  left: 0;
  top: 10px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.radio .circle, .radio .check {
  left: 11px;
  top: 11px;
}

.check-options .checkbox {
  margin-top: 0;
  padding-left: 0;
}

.check-options .checkbox label {
  padding-left: 0;
  color: #12498c;
}

.main-form.area-search-form {
  padding: 0;
  margin-bottom: 0;
  line-height: normal;
}

.main-form.area-search-form .rounded-btn {
  height: 35px;
  line-height: 35px;
  border-radius: 0;
}

.main-form.area-search-form .textfield, .main-form.area-search-form .feedback .textarea, .feedback .main-form.area-search-form .textarea, .main-form.area-search-form .feedback .select, .feedback .main-form.area-search-form .select {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-form.area-search-form .select {
  line-height: 24px;
}

.main-form .file-upload {
  position: relative;
  padding: 0;
  border: 1px solid #eee;
  background: none;
  padding: 0 20px 0 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  height: 30px;
  display: table;
  border-radius: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.main-form .file-upload input[type='file'] {
  opacity: 0;
  display: inline-block;
  width: 100%;
  padding: 5px 20px !important;
  margin: 0 !important;
}

.main-form .file-upload:before {
  content: "Upload File";
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 7px;
  background: #fff;
  padding: 2px 30px;
  font-size: 12px;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  line-height: 18px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.main-form .file-upload:hover:before {
  background: #fff;
  color: #fff;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.search-block {
  height: 100vh;
}

.search-block .search-box {
  text-align: center;
}

.search-block h1 {
  font-size: 42px;
  line-height: 52px;
  color: #aaa;
  font-weight: 400;
  padding: 0 20%;
}

.search-block h2 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.search-block h2 a {
  color: #fff;
}

.search-block h2 a:hover {
  color: #fff;
}

.search-block form {
  width: 80%;
  margin: 30px auto;
  background: #fff;
  padding: 0;
  border-radius: 50px;
  position: relative;
  height: 60px;
}

.search-block .textfield, .search-block .feedback .textarea, .feedback .search-block .textarea, .search-block .feedback .select, .feedback .search-block .select {
  float: left;
  width: 80%;
  border: 0;
  font-size: 16px;
  padding-left: 30px;
  height: 60px;
  background: none;
}

.search-block .search-btn {
  position: absolute;
  background: #fff;
  width: 70px;
  height: 60px;
  top: 0;
  right: 0;
  line-height: 73px;
  text-align: center;
  border-radius: 0 30px 30px 0;
  font-size: 24px;
}

/*feedback form*/
.contact-form .main-title {
  margin-bottom: 15px !important;
}

.feedback, .feedback fieldset {
  margin: 30px 0 0 0;
  padding: 0;
}

.form-groups {
  margin-bottom: 40px;
  padding: 5px;
  background: #eee;
}

.form-groups.recaptcha {
  background: none;
  margin-bottom: 10px;
}

.feedback fieldset, .feedback fieldset fieldset {
  margin: 0;
}

.feedback .textfield, .feedback .textarea, .feedback .select {
  border: 0;
  padding: 5px 20px;
  font-size: 14px;
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: none;
  position: relative;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border: 0;
  -webkit-transition: background 0s ease-out;
  transition: background 0s ease-out;
  float: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #222;
  line-height: 20px;
}

.feedback .textarea {
  height: 200px;
  color: #fff;
}

.feedback .select {
  font-size: 14px;
}

.feedback .select {
  padding-left: 0;
  color: #aaa;
  border-bottom: 1px solid #d2d2d2;
}

.feedback .select option {
  font-family: "Source Sans Pro";
  color: #ccc;
}

.contact-title, .contact-name {
  font-size: 14px;
  display: block;
  margin: 0 0 30px 0;
}

.contact-name {
  font-size: 18px;
  color: #111;
  margin: 0;
}

.contact-address {
  margin-top: 30px;
}

.contact-address .address-info {
  font-size: 14px;
  display: block;
  border-top: 1px solid #ddd;
  padding: 30px 0;
  line-height: 22px;
}

.contact-address .first {
  border-top: 0;
  padding-top: 10px;
}

/*placeholder*/
.label {
  color: #333;
  font-size: 16px;
  position: absolute;
  left: 25px;
  font-weight: normal;
  top: 5px;
  padding: 7px 0 0 13px;
  pointer-events: none;
  color: #aaaaaa;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.submit .right-icon {
  font-size: 18px;
  margin-left: 15px;
}

/*sticy menu*/
.focused .textfield, .focused .feedback .textarea, .feedback .focused .textarea, .focused .feedback .select, .feedback .focused .select {
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.focused label {
  position: absolute;
  top: -30px;
  font-size: 12px;
  left: 25px;
}

.search-college.search-block {
  height: auto;
}

.search-college .show-filter {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.search-college form {
  background: none;
  height: auto;
  width: 100%;
  padding: 0;
  border-radius: 0;
}

.search-college .filter-box, .search-college .form-groups {
  background: #fff;
  padding: 0;
  border-radius: 50px;
  position: relative;
  height: 60px;
  border: 0;
  display: table;
  width: 100%;
  padding-left: 140px;
}

.search-college .search-btn {
  background: #333;
  color: #fff;
}

.search-college .college-search {
  width: 90%;
}

.search-college .filter-option {
  position: absolute;
  left: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #ddd;
  padding: 0 15px 0 30px;
  height: 60px;
  line-height: 60px;
  color: #333;
  text-transform: uppercase;
}

.search-college .filter-option .right-icon {
  font-size: 16px;
  margin-left: 15px;
  color: #979696;
}

.search-college .form-groups {
  padding: 0 15px 0 30px;
  display: block;
}

.search-college .form-groups .select {
  width: 100%;
  padding: 16px 0;
  font-size: 16px;
  color: #767676;
  border: 0;
  background: transparent url("../images/down.png") no-repeat 94% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 35px;
}

.search-college .filters {
  margin: 0;
  width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  display: none;
}

.search-college .search-now {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.search-data, .search-filters {
  float: left;
  width: 160px;
  background: #eee;
  border-radius: 50px;
  margin-left: 15px;
  padding: 2px 18px;
  position: relative;
}

.search-data .textfield, .search-filters .textfield, .search-data .feedback .textarea, .feedback .search-data .textarea, .search-filters .feedback .textarea, .feedback .search-filters .textarea, .search-data .feedback .select, .feedback .search-data .select, .search-filters .feedback .select, .feedback .search-filters .select {
  background: #eee;
  font-size: 12px;
  line-height: 14px;
  border: 0;
  margin: 0;
  padding: 0;
  width: 90%;
}

.search-data .search-btn, .search-filters .search-btn {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 12px;
}

.search-filter {
  margin-top: -7px;
}

.search-filters {
  padding-right: 10px;
}

.search-filters select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
  color: #666;
  border: 0;
  padding-right: 0;
  background: #eee url(../images/down.png) no-repeat 96% 50%;
  background-size: 13px;
  float: left;
  width: 100%;
}

.search-filters .form-groups {
  padding: 0;
  border: 0;
}

.student-college-search {
  margin-bottom: 40px;
}

.student-college-search.search-college .form-groups {
  background: #f2ecec;
  padding-left: 22px;
}

.student-college-search.search-college .filter-option {
  background: #f2ecec;
  padding-left: 40px;
}

.student-college-search.search-college .college-search {
  background: #f8f7f7;
  width: 90%;
}

.student-college-search.search-college .search-now {
  width: 100%;
  margin: 0 !important;
  display: table;
  max-width: none;
}

.upload-box .modal-header {
  background: #fff;
  border-radius: 0 !important;
  border: 0 !important;
}

.upload-box .modal-header .modal-title {
  font-size: 20px;
  color: #333;
  border: 0;
  font-weight: 500;
  text-align: center;
  display: table;
  width: 100%;
}

.upload-box .modal-header .dismiss-btn {
  position: absolute;
  opacity: 1;
  right: -20px;
  top: -20px;
  margin: 0;
  padding: 0;
  z-index: 98;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  background: #333;
  border: 1px solid #ccc;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.upload-box .modal-header .dismiss-btn:hover {
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.upload-box .upload-form .label {
  position: relative;
  top: 0;
  left: 0;
  color: #333;
  display: block;
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
}

.upload-box .upload-form .textfield, .upload-box .upload-form .feedback .textarea, .feedback .upload-box .upload-form .textarea, .upload-box .upload-form .feedback .select, .feedback .upload-box .upload-form .select {
  padding: 5px 10px;
  display: block;
  color: #333;
  font-size: 14px;
  border: 1px solid #ddd;
  width: 100%;
}

.upload-box .upload-form .textarea {
  border: 1px solid #ddd;
  width: 100%;
  height: 300px;
  font-size: 14px;
  padding: 5px 10px;
}

.upload-box .upload-form .select {
  width: 100%;
  padding: 0 15px;
  font-size: 14px;
  height: 38px;
  color: #767676;
  border: 1px solid #ddd;
  background: transparent url(../images/down.png) no-repeat 98% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.upload-box .upload-form .form-group {
  margin-bottom: 1.5em;
}

#payment-form .modal-lg {
  max-width: 870px;
}

#payment-form .payment-info {
  background: #666666;
  padding: 40px;
  color: #f3f3f3;
}

#payment-form .payment-info .main-title {
  color: #fff;
  font-size: 23px;
  line-height: 34px;
  font-weight: 500;
  display: block;
  margin-bottom: 40px;
  letter-spacing: -1px;
}

#payment-form .payment-info .media .left-icon {
  font-size: 30px;
}

#payment-form .payment-info .media .main-title {
  font-size: 18px;
  line-height: 24px;
  color: #f3f3f3;
  font-weight: 400;
  letter-spacing: normal;
}

#payment-form .payment-form {
  background: #fff;
}

#payment-form form {
  padding: 40px 0;
}

#payment-form .form-groups {
  background: #eee;
  position: relative;
  padding: 0 15px;
}

#payment-form .label {
  left: inherit;
}

#payment-form .fieldbox {
  padding: 0 15px;
}

#payment-form .textfield, #payment-form .feedback .textarea, .feedback #payment-form .textarea, #payment-form .feedback .select, .feedback #payment-form .select {
  padding: 15px;
}

#payment-form .login-btn {
  margin: 0;
  border-radius: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

#payment-form .dismiss-btn {
  position: absolute;
  opacity: 1;
  right: -30px;
  top: -20px;
  z-index: 98;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  background: #333;
  border: 1px solid #ccc;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

#payment-form .dismiss-btn:hover {
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#payment-form .modal-content {
  position: relative;
}

/* new custome file upload*/
.file-upload {
  position: relative;
  padding: 0;
  border: 1px solid #eee;
  background: none;
  padding: 0 20px 0 0;
  width: 100%;
  border: 1px solid #d2d6de;
  height: 35px;
  display: inline-block;
}

.file-upload input[type='file'] {
  opacity: 0;
  display: inline-block;
  width: 100%;
  padding: 5px 20px !important;
  margin: 0 !important;
}

.file-upload:before {
  content: "Upload";
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 5px;
  padding: 2px 30px;
  font-size: 12px;
  color: #333;
  background: #fff;
  border-radius: 3px;
  line-height: 18px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.file-upload:hover:before {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
}

.file-upload .choose-file {
  margin-top: -40px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888;
  margin-left: 15px;
  width: 60%;
  float: left;
  font-weight: normal;
}

.file-upload .choose-file span {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 7px;
}

.father-box .sub-main-title, .mother-box .sub-main-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
}

.mother-box .sub-main-title {
  margin-top: 40px;
}

.select2-container .select2-selection--multiple {
  min-height: inherit;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd;
  border-radius: 0 !important;
  cursor: text;
  font-size: 14px;
}

.select2-container--default .select2-search--inline .select2-search__field {
  width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ddd;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding: 0 5px 5px 5px;
  width: 100%;
  display: table;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin: 5px 0 0 5px;
  line-height: normal;
}

.search-site {
  width: 100%;
  margin: 0;
  background: #fff;
  padding: 0;
  position: relative;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 98;
  display: block;
}

.search-site.hide {
  display: none !important;
}

.search-site.show-search {
  display: block;
}

.search-site .textfield, .search-site .feedback .textarea, .feedback .search-site .textarea, .search-site .feedback .select, .feedback .search-site .select {
  float: left;
  width: 100%;
  padding-right: 50px;
  border: 0;
  font-size: 16px;
  padding-left: 15px;
  height: 50px;
  background: none;
  border: 1px solid #ddd;
  color: #222;
}

.search-site .textfield:focus, .search-site .feedback .textarea:focus, .feedback .search-site .textarea:focus, .search-site .feedback .select:focus, .feedback .search-site .select:focus {
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.search-site .search-btn {
  position: absolute;
  background: #666;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  color: #fff;
  line-height: 58px;
  text-align: center;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.search-site .search-btn:hover {
  background: #0069b4;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-search.close-icon .left-icon:before {
  content: "\e870";
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.unicode-box {
  display: block;
  margin: 0;
}

.unicode-box .converter-tab {
  margin-bottom: 30px;
}

.unicode-box .nav-tabs {
  border: 0;
}

.unicode-box .nav-tabs .nav-link {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background: #aaa;
  border: 0;
  padding: 7px 20px;
  line-height: 24px;
  border-radius: 0;
}

.unicode-box .nav-tabs .nav-link.active {
  color: #fff;
  background: #666;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.unicode-form {
  margin: 0;
  padding: 0;
}

.unicode-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.unicode-form label {
  display: block;
  font-size: 14px;
  margin: 0 0 15px 0;
}

.unicode-form .textfield, .unicode-form .feedback .textarea, .feedback .unicode-form .textarea, .unicode-form .feedback .select, .feedback .unicode-form .select {
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 16px;
  color: #222;
  width: 100%;
}

.unicode-form .textarea {
  height: 280px;
  overflow: auto;
  resize: vertical;
  font-size: 20px;
  line-height: 32px;
}

.unicode-form .convert-btn {
  background: #eee;
  border-radius: 0;
  padding: 5px 20px;
  color: #222;
  display: table;
  font-weight: 700;
  font-size: 16px;
  margin: 15px auto 30px auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  top: 0;
}

.unicode-form .convert-btn .left-icon {
  position: relative;
  font-size: 20px;
}

.unicode-form .convert-btn:hover {
  background: #EC3438;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=form.css.map */